<div class="sign-in">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
              <h1 class="text-center">Sign in</h1>
              <p class="text-center">
                <a href="#" (click)="goToSignUp()">Need an account?</a>
              </p>
              <form class="sign-in-form" [formGroup]="signInForm" (ngSubmit)="submitForm()">
                  <div class="form-group"
                       [ngClass]="{'has-error': signInForm.get('email')?.invalid && signInForm.get('email')?.touched}">
                      <input type="email" class="form-control"  placeholder="Email" name="email" 
                              formControlName="email">

                      <p *ngIf="signInForm.get('email')?.invalid && 
                              signInForm.get('email')?.touched && 
                              signInForm.get('email')?.hasError('required')">
                       Email is required!
                    </p>
                    <p *ngIf="signInForm.get('email')?.hasError('email')">
                      Email is not correct!
                    </p>
                  </div>
                  <div class="form-group"
                       [ngClass]="{'has-error': signInForm.get('password')?.invalid && signInForm.get('password')?.touched}">
                    <input type="password" class="form-control"  placeholder="Password" name="password" 
                            formControlName="password">
                  <p *ngIf="signInForm.get('password')?.invalid && 
                            signInForm.get('password')?.touched &&
                            signInForm.get('password')?.hasError('required')">
                    Password is required!
                  </p>
                  <p *ngIf="signInForm.get('password')?.hasError('pattern')">
                    Password must be at least 8 characters long and contain one uppercase letter, 
                    one lowercase letter and one number.
                   </p> 
                    </div>
                    <button type="submit" class="btn float-right" [disabled]="!signInForm.valid">Sing in</button>
                </form>
            </div>
        </div>
    </div>
</div>

