<div class="sign-in">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
              <h1 class="text-center">Sign up</h1>
              <p class="text-center">
                <a (click)="onOpenSignIn()">Have an account?</a>
              </p>
              <div class="infoMsg msg px-4" *ngIf="infoMessage.length > 0">
                <p>{{infoMessage }}</p>
              </div>
              <div class="errorMsg msg px-4" *ngFor="let error of errorMessages">
                <p>{{error}}</p>
              </div>
              
                <form class="sign-in-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <div class="form-group" 
                         [ngClass]="{'has-error': signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched}">
                        <input type="username" class="form-control"  placeholder="Username" formControlName="username" >
                        <p *ngIf="signUpForm.get('username')?.touched && 
                                  signUpForm.get('username')?.invalid && 
                                  signUpForm.get('username')?.hasError('required')">
                          Username is required!
                        </p>
                        <p *ngIf="signUpForm.get('username')?.hasError('minlength')">
                         Username must be at least 8 characters long.
                        </p> 
                      </div>
                    <div class="form-group" 
                        [ngClass]="{'has-error': signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched}">
                      <input type="email" class="form-control"  placeholder="Email" formControlName="email">
                      <p *ngIf="signUpForm.get('email')?.invalid && 
                                signUpForm.get('email')?.touched && 
                                signUpForm.get('email')?.hasError('required')">
                        Email is required!
                      </p>
                      <p *ngIf="signUpForm.get('email')?.hasError('email')">
                        Email is not correct!
                      </p>
                    </div>
                    <div class="form-group" 
                         [ngClass]="{'has-error': signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched}">
                      <input type="password" class="form-control"  placeholder="Password" formControlName="password" name="password">
                      <p *ngIf="signUpForm.get('password')?.invalid && 
                                signUpForm.get('password')?.touched &&
                                signUpForm.get('password')?.hasError('required')">
                        Password is required!
                      </p>
                      <p *ngIf="signUpForm.get('password')?.hasError('pattern')">
                        Password must be at least 8 characters long and contain one uppercase letter, 
                        one lowercase letter and one number.
                       </p> 
                    </div>
                    <button type="submit" class="btn  float-right"  [disabled]="!signUpForm.valid">Sing up</button>
                  </form>
            </div>
        </div>
    </div>
</div>
 