.sign-in .container{
    margin-top: 25px
}
.sign-in .container h1,
.sign-in .container p{
    font-family: source sans pro,sans-serif;
}
.sign-in .container p>a{
    color: #5cb85c
}
.sign-in .sign-in-form input,
.sign-in .sign-in-form button{
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}
.sign-in .sign-in-form button{
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.has-error input{
    border: 1px solid red
}    
.form-group p{
    color: red
}